<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="app.component.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <title>Calculadora Web</title>
  </head>
  <body>
      <div class="contenedor2">
        <div class="row divCentrados2">
          <div class="col-6 divBlancos"><p></p></div>
          <div class="col divBlancos"><p>{{numero1}}</p></div>
          <div class="col divBlancos"><p>{{operacion}}</p></div>
          <div class="col divBlancos"><p>{{numero2}}</p></div>
        </div>
        <div class="row divCentrados2">
          <div class="col divBlancos"><p>{{resultado}}</p></div>
        </div>
        <div class="row divsCentrados">
            <button (click)="set9()" type="button" class="btn btn-secondary col-2 numeros">9</button>
            <button (click)="set8()" type="button" class="btn btn-secondary col-2 numeros">8</button>
            <button (click)="set7()" type="button" class="btn btn-secondary col-2 numeros">7</button>
            <button (click)="delButton()" type="button" class="btn btn-info col-2">DEL</button>
        </div>
        <div class="row divsCentrados">
          <button type="button" class="btn btn-secondary col-2"></button>
          <button type="button" class="btn btn-secondary col-2"></button>
          <button type="button" class="btn btn-secondary col-2"></button>
          <button (click)="setDivision()" type="button" class="btn btn-info col-2">/</button>
        </div>
        <div class="row divsCentrados">
          <button (click)="set6()" type="button" class="btn btn-secondary col-2">6</button>
          <button (click)="set5()" type="button" class="btn btn-secondary col-2">5</button>
          <button (click)="set4()" type="button" class="btn btn-secondary col-2">4</button>
          <button (click)="setX()" type="button" class="btn btn-info col-2">X</button>
        </div>
        <div class="row divsCentrados">
          <button (click)="set3()" type="button" class="btn btn-secondary col-2">3</button>
          <button (click)="set2()" type="button" class="btn btn-secondary col-2">2</button>
          <button (click)="set1()" type="button" class="btn btn-secondary col-2">1</button>
          <button (click)="setResta()" type="button" class="btn btn-info col-2">-</button>
        </div>
        <div class="row divsCentrados">
          <button type="button" class="btn btn-secondary col-2">.</button>
          <button (click)="set0()" type="button" class="btn btn-secondary col-2">0</button>
          <button type="button" class="btn btn-secondary col-2">∞</button>
          <button (click)="setSuma()" type="button" class="btn btn-info col-2">+</button>
        </div>
        <div class="row divsCentrados">
          <button type="button" class="btn btn-secondary col-2"></button>
          <button type="button" class="btn btn-secondary col-2"></button>
          <button type="button" class="btn btn-secondary col-2"></button>
          <button (click)="calculo()" type="button" class="btn btn-info col-2">=</button>
        </div>
      </div>
  </body>
</html>
